
<app-navbar [seccionInfo]="seccionInfo" [seccionContacto]="seccionContacto"></app-navbar>

<app-seccion-foto></app-seccion-foto>


<div #seccionInfo>

    <app-seccion-informacion></app-seccion-informacion>

</div>


<div #seccionContacto style="margin-top:5%;">

    <app-contact></app-contact>

</div>


  
  
  
<div #seccionContacto style="margin-top:25%;">
<span class="fw-bold">PHP 
    <span class="fw-bold porcentaje">60% </span>
</span>
  <div>

    <mat-progress-bar class="alturaProgressBar" mode="determinate" value="60"></mat-progress-bar>

  </div>

</div>