.fotoCagliardi {

    width: 184px;
    margin-top: 3%;

}


.correrElementos {

    margin-left: auto;

}



.nombrePersonalizado {
    margin-top: 3%;

    font-weight: bold;

}

.misBotones button {

    margin: 1%;



}

.cagIcon {
    width: 24px;
}